html {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-color: burlywood;
    background-image: url('../src/assets/bricks.png');
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}