aside {
    background-image: linear-gradient(to top, red, yellow);
    padding: 10px;
    width: fit-content;
    border: 3px rebeccapurple groove;
    border-radius: 10px;
}

input {
    color: wheat;
    background-color: darkslategray;
    border-radius: 5px;
    border: 2px inset gray;
    font-weight: 700;
    transition: ease-in 200ms;
    text-align: center;
    margin-top: .25em;
}

input:focus {
    background-color: black;
    text-align: left;
}

button {
    height: 20px;
    color: antiquewhite;
    background-color: darkred;
    border: outset wheat 2px;
    font-size: 1em;
    border-radius: 5px;
    font-weight: 600;
    width: 160px;
    height: 25px;
    margin-top: .5em;
}

button:hover {
    font-weight: 800;
    border: inset wheat 2px;
}

.login-container,
.signup-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50em;
    height: 30em;
    background-image: url("../../../src/assets/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.error {
    background-color: red;
    font-weight: 900;
}