<div class="home-container">
    <p class="welcome">Welcome {{ classReference.username }}</p>
    <div class="selectors">
        Categories: <select [(ngModel)]="category" ng-init="categories[0]" (change)="getEvents()">
            <option *ngFor="let x of categories" [ngValue]="x">{{ x }}</option>
        </select>
    </div>
    <div *ngIf="!guest"><button (click)="toggleNewEvent()">{{ newEventText }}</button></div>
    <div *ngIf="showNewEvent" class="newEvent">  
        <div class="thing">Event Name: <input class="floatBox" type="text" placeholder="Event Name" [(ngModel)]="eventName"></div>
        <div class="thing">Catgeory: <select class="floatBox2" [(ngModel)]="eventCategory">
            <option *ngFor="let y of categories" [ngValue]="y">{{ y }}</option>
        </select></div>
        <div class="thing">Description: <input class="floatBox" type="text" placeholder="Description" [(ngModel)]="description"></div>
        <div class="thing">Event Date: <input class="floatBox2" type="date" [(ngModel)]="eventDate"></div>
        <div class="error">{{ error }}</div>
        <div class="button-container"><button (click)="addEvent()">Submit</button></div>
    </div>
    <div class="event-container">
        <app-event class="app-event" [category]="category" [events]="events" [home]="this" [guest]="guest"></app-event>
    </div>
    <div class="prediction-container">
        <app-prediction class="app-prediction" [home]="this" [pred]="pred"></app-prediction>
    </div>
</div>