<div class="home-container">
    <p>Welcome {{ classReference.username }}</p>
    Categories: <select [(ngModel)]="category" ng-init="categories[0]" (change)="updateList()">
        <option *ngFor="let x of categories" [ngValue]="x">{{ x }}</option>
    </select>
    <div class="event-container">
        <app-event class="app-event" [events]="events" [home]="this" [guest]="guest"></app-event>
    </div>
    <button (click) = "getEvents()"></button>
    <div>
        <ul>
            <li *ngFor="let event of events$ | async">{{event.eventName}}</li>
        </ul>
    </div>
    <ng-container #predictionContainer></ng-container>
</div>